.success {
  stroke: #198754;
  stroke-width: 1;
  fill: #198754;
}

.recipe {
  stroke: #0d6efd;
  stroke-width: 1;
  fill: #0d6efd;
}

.recipe-pure-py {
  stroke: #6f42c1;
  stroke-width: 1;
  fill: #6f42c1;
}

.pure-py {
  stroke: #0dcaf0;
  stroke-width: 1;
  fill: #0dcaf0;
}

.todo {
  stroke: #ffca2c;
  stroke-width: 1;
  fill: #ffc107;
}

line.wheel-line {
  stroke: #333;
}

text.wheel-text {
  fill: #333;
}

@media (prefers-color-scheme: dark) {
  line.wheel-line {
    stroke: #ccc;
  }

  text.wheel-text {
    fill: #ccc;
  }
}
